:root {
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 3rem;
  --space-7: 6rem;

  --font-xl: 12rem;

  --color-white: #ffffff;
  --color-white-1: #fafafa;
  --color-dark: #020202;
  --color-dark-1: #040404;
  --color-dark-2: #101010;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  font-family: "Acme", sans-serif;
  overscroll-behavior: none;
  background-image: linear-gradient(
    to left,
    var(--color-dark-1),
    var(--color-dark-2)
  );
  overflow: hidden;
}

.heading {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .heading-text {
    color: var(--color-white-1);
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  & > svg {
    fill: var(--color-white-1);
    width: 35px;
    height: 35px;
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
}

.main {
  display: grid;
  grid-template-columns: auto;
  padding: var(--space-3);
  height: 100vh;
  overflow: hidden;
}

.picture {
}

.content {
}

.scroll-content {
}

img {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  object-fit: cover;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}
