:root {
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 3rem;
  --space-7: 6rem;

  --font-md: 3rem;
  --font-xl: 12rem;
  --item-size: calc(182.4px - var(var(--space-2)));

  --color-white: #ffffff;
  --color-white-1: #fafafa;
  --color-dark: #020202;
  --color-dark-1: #040404;
  --color-dark-2: #101010;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  font-family: "Acme", sans-serif;
  overscroll-behavior: none;
  background-image: linear-gradient(
    to left,
    var(--color-dark-1),
    var(--color-dark-2)
  );
  overflow: hidden;
}

.heading {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .heading-text {
    color: var(--color-white-1);
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  & > svg {
    fill: var(--color-white-1);
    width: 35px;
    height: 35px;
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
}

.main {
  display: grid;
  grid-template-columns: auto;
  padding: var(--space-3);
  height: 100vh;
  overflow: hidden;
}

.picture {
  position: absolute;
  block-size: 400px;
  inline-size: 600px;
  overflow: hidden;
  left: 14%;
  top: 54%;
  z-index: -1;

  & img {
    position: absolute;
    transform: translate3d(0px, 500px, 0px) scale(1.5);
  }
}

.content {
  block-size: 100%;
}

.scroll-content {
  position: relative;
  block-size: auto;
  display: flex !important;
  flex-direction: column;
}

.item-container-full {
  position: absolute;
  right: 0;
  height: var(--item-size);
  overflow: hidden;
}

.item {
  z-index: 100;
  line-height: 0.95;
}

.title-full {
  color: var(--color-white);
}

.title {
  font-size: var(--font-xl);
  text-transform: uppercase;
  font-family: "Acme";
  text-align: right;
}

.title-transparent {
  -webkit-text-stroke: 1px var(--color-white);
  color: transparent;
}

img {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  object-fit: cover;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: var(--font-md);
  }
}
